---
import { SITE_TITLE, SITE_LOGO } from "../config";
import Navigation from "./Navigation.astro";
---

<header
  class="flex items-center justify-between py-6 max-w-7xl px-3 md:px-5 mx-auto"
>
  {
    SITE_LOGO ? (
      <div class="flex items-center">
        <img
          src={SITE_LOGO}
          alt={SITE_TITLE}
          class="w-8 h-8 inline-block pr-3"
        />
        {/* <a href="/blog" class="text-xl">Reading The Tea Leaves</a> */}
      </div>
    ) : (
      <span class="text-2xl font-serif">{SITE_TITLE}</span>
    )
  }
  <Navigation />
</header>
