<nav>
    <ul class="flex items-center justify-center space-x-4">
      <li>
        <a href="/blog">Blog</a>
      </li>
      <li>
        <a href="/portfolio">Portfolio</a>
      </li>
    </ul>
</nav>